@use "/src/assets/scss/mixin.scss" as *;

.projectCard {
  background: var(--cardClr);
  padding: 1.5rem;
  border-radius: 1.5rem;
  @include flex-element;
  gap: 1.5rem;

  .projectImg {
    background-color: var(--secondaryClr);
    border-radius: 1rem;
    width: 15rem;
  }

  .projectContainer {
    width: calc(100% - 15rem - 1.5rem);
    @include flex-element;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .projectInfo {
    @include grid-element;
    gap: 1rem;
  }
}
