@use "./mixin.scss" as *;
@use "./variable.scss" as *;
@use "./root.scss" as *;
@use "./reset.scss" as *;

body {
  margin: 0;
  background-color: var(--bgClr);
  color: var(--blackClr);
  overflow: hidden;
  overflow-y: auto;
  font-family: var(--fontRegular), sans-serif;
  font-size: var(--ft-16);
  line-height: calc(var(--ft-16) * 1.4);
  user-select: none;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  width: 0.25rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 0.25rem;
  background-color: var(--primaryClr);
}

::-webkit-scrollbar-thumb:hover {
  width: 0.25rem;
  background-color: var(--primaryClr);
}

section {
  padding: var(--sectionPd) 0;
  @include rel-position;
  // width: min(var(--maxWidth), 100% - var(--sectionPd));
}

.icon {
  @include flex-element;
  @include transform-origin(center);
  transition: var(--transition);

  &::before {
    content: "";
    @include inline-block-element;
    transition: var(--transition);
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
  }
}
