@font-face {
  font-family: primaryFont;
  src: url(../src/assets/fonts/Michroma-Regular.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(../src/assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: mediumFont;
  src: url(../src/assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: semiFont;
  src: url(../src/assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: lightFont;
  src: url(../src/assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: boldFont;
  src: url(../src/assets/fonts/Poppins-Bold.ttf);
}
