@use "/src/assets/scss/mixin.scss" as *;

.herosection {
  @include flex-element;
  flex-direction: column;
  align-items: baseline;
  gap: 1.5rem;

  h2 {
    font-family: var(--fontBold), sans-serif;
    font-size: var(--ft-64);
    line-height: calc(var(--ft-64) * 1.2);

    span {
      color: var(--primaryClr);
    }
  }

  h4 {
    font-family: var(--fontRegular), sans-serif;
    font-size: var(--ft-16);
    font-weight: 400;
    line-height: calc(var(--ft-16) * 1.4);
  }
}
