@use "/src/assets/scss/mixin.scss" as *;

.buttongroup {
  padding: 0.25rem;
  border-radius: var(--rd-64);
  background-color: var(--bgClr);
  @include flex-element;
  gap: 0.5rem;
  width: fit-content;
}
